<%- include('header'); %>

    <main>
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="display-4 text:shadow-lg">MiniCraft</h1>
                <p class="lead text:shadow-lg">Dein neuer Minigames Server mit einzigartigen Spielen!</p>
            </div>
        </div>

        <div class="container my-3">
            <div class="alert alert-danger" role="alert">
                Die Beschwerdestelle ist momentan deaktiviert!
            </div>

            <div class="alert alert-warning" role="alert">
                Bitte habe Verständnis dafür, das wir eine Beschwerde nur mit einem Videomaterial bearbeiten können, um ein Missverständnis zu vermeiden.
            </div>

            <form action="" method="post">
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" required>
                      <option value="1">Leicht</option>
                      <option value="2">Normal</option>
                      <option value="2">Schwer</option>
                    </select>
                    <label for="floatingSelect">Schweregrad</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingUsername" placeholder="(Dein) Benutzername" required>
                    <label for="floatingUsername">Beschwerde von... (Benutzername)</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingTUsername" placeholder="(Täter) Benutzername" required>
                    <label for="floatingTUsername">Beschwerde gegen... (Benutzername)</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="url" class="form-control" id="floatingURL" placeholder="Video URL" required>
                    <label for="floatingURL">Video URL</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Anmerkung" id="floatingText" style="min-height: 300px; max-height: 300px; resize: none;"></textarea>
                    <label for="floatingText">Anmerkung</label>
                </div>
                <button class="w-100 btn btn:green" disabled>Abschicken</button>
            </form>
        </div>
    </main>

<%- include('footer'); %>