<%- include('header'); %>

    <main>
        <div class="container my-3">
            <div class="card text-center shadow-sm">
                <div class="card-header"><h1 class="display-6 my-0 badge:blue text:shadow-sm">Spenden</h1></div>
                <div class="card-body">
                    <p>
                        Hilf uns dabei die Serverkosten zu decken, indem du eine freiwillige Spende mit PayPal, Sofortüberweisung, Paysafecard oder deiner Kreditkarte tätigst!
                        <br>
                        (Bitte tätige <span class="fw-bold">KEINE</span> Spende, wenn dein Budget knapp ist oder du unsicher bist!)
                    </p>
                    <p>
                        Jede Spende wird zu 100% für die Kosten des Netzwerkes verwendet!
                    </p>
                    <div class="alert alert-warning">
                        <h4 class="alert-heading">Hinweis!</h4>
                        <p class="mb-0">
                            Bitte gib unbedingt bei deiner Spende folgende Informationen an, um auf unserem Netzwerk sowie Discord Server die Gruppe "Donator" zu erhalten, falls du dieser Gruppe beitreten möchtest:
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="mb-0">Dein Name</h5>
                                <small>
                                    Gib deinen Benutzernamen von Minecraft an.
                                </small>
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-0">Deine Nachricht (optional)</h5>
                                <small>
                                    Gib deinen Namen#Code von Discord an.
                                </small>
                            </li>
                          </ul>
                    </div>
                    <p class="mb-0">
                        Als Mitglied der Gruppe "Donator" erhält man auf unserem Netzwerk Zugriff auf alle Funktionen der Gruppe "Premium" und zusätzlich erhält man Zugriff auf unserem Discord Server im Kanal "werbung" seine eigene Werbung zu posten!
                    </p>
                </div>
                <div class="card-footer">
                    <a id="donationBtn" onclick="openDonationDialog()" class="w-100 btn btn:blue">Jetzt Spenden!</a>
                </div>
            </div>
        </div>
    </main>
    <script src="/assets/js/nquery.prod.js"></script>
    <script src="/assets/js/main.js"></script>

<%- include('footer'); %>