<%- include('header'); %>

    <main>
        <div class="container my-3">
            <div class="card text-center shadow-sm">
                <div class="card-header"><h1 class="display-6 my-0 badge:blue text:shadow-sm">Spenden</h1></div>
                <div class="card-body">
                    <p>
                        Hilf uns dabei die Serverkosten zu decken, indem du eine freiwillige Spende mit PayPal, Sofortüberweisung, Paysafecard oder deiner Kreditkarte tätigst!
                        <br>
                        (Bitte tätige <span class="fw-bold">KEINE</span> Spende, wenn dein Budget knapp ist oder du unsicher bist!)
                    </p>
                    <p>
                        Jede Spende wird zu 100% für die Kosten des Netzwerkes verwendet!
                    </p>
                    <div class="alert alert-warning">
                        <h4 class="alert-heading">Hinweis!</h4>
                        <p class="mb-0">
                            Bitte gib unbedingt bei deiner Spende folgende Informationen an, um auf unserem Netzwerk sowie Discord Server die Gruppe "Donator" zu erhalten, falls du dieser Gruppe beitreten möchtest:
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="mb-0">Dein Name</h5>
                                <small>
                                    Gib deinen Benutzernamen von Minecraft an.
                                </small>
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-0">Deine Nachricht (optional)</h5>
                                <small>
                                    Gib deinen Namen#Code von Discord an.
                                </small>
                            </li>
                          </ul>
                    </div>
                    <p>
                        Als Mitglied der Gruppe "Donator" erhält man auf unserem Netzwerk Zugriff auf alle Funktionen der Gruppe "Premium" und zusätzlich erhält man Zugriff auf unserem Discord Server im Kanal "werbung" seine eigene Werbung zu posten!
                    </p>
                    <div class="alert alert-danger text-center mb-0" role="alert">
                        <h4 class="alert-heading">Achtung!</h4>
                        <p class="mb-0">
                            Damit wir dich nach deiner Spende der Gruppe "Donator" zuweisen können musst du mit dem angegeben Benutzernamen bereits einmal auf unserem Netzwerk gespielt haben und dich mit dem angegeben Namen#Code in unserem Discord Server befinden!
                        </p>
                        <hr>
                        <p class="mb-0">
                            Die Gruppe "Donator" erhält jede Person auf unserem Netzwerk sowie Discord Server, welche eine Spende erfolgreich getätigt hat und behält diese so lange bis sich die Projektleitung wechselt oder dieses Netzwerk geschlossen wird! (Wir behalten uns außerdem das Recht vor dich jederzeit und ohne Ankündigung aus dieser Gruppe wieder zu entfernen!)
                        </p>
                        <hr>
                        <p class="mb-0">
                            Jede Spende wird täglich zwischen 16 und 18 Uhr von der Projektleitung überprüft und dabei wird jede Person die erfolgreich eine Spende getätigt hat der Gruppe "Donator" zugewiesen.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="..." class="w-100 btn btn:blue">Jetzt Spenden!</a>
                </div>
            </div>
        </div>
    </main>

<%- include('footer'); %>