<%- include('header'); %>

    <main>
        <div class="container my-3">
            <div class="alert alert-danger text-center" role="alert">
                <h4 class="alert-heading"><%= title %></h4>
                <p class="mb-0">
                    <%= msg %>
                </p>
            </div>
        </div>
    </main>

<%- include('footer'); %>