<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniCraft</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.min.css">
    <link rel="stylesheet" href="/assets/css/util.min.css">
</head>
<body class="d-flex flex-column min-vh-100">
    
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <span class="navbar-brand" href="#">MiniCraft</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Startseite</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/team">Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/top">Top-Spieler</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Mehr
                            </a>
                            <ul class="dropdown-menu mb-2" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/uuid">UUID-Checker</a></li>
                                <li><a class="dropdown-item" href="/premium">Premium</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/help">Hilfe</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="navbar-nav d-flex my-2 my-lg-0">
                        <li class="nav-item">
                            <a class="nav-link btn btn:blue" style="padding: 7px 15px;" href="/donate">Spenden</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="sub-navbar p-3 shadow-sm">
            <div class="container">
                <div class="row">
                    <div class="col-7 col-sm-6">
                        <span class="fw-bold">
                            <span class="d-none d-sm-inline">
                                Server IP
                            </span>
                        </span>
                        <span class="badge:grey text:shadow-sm">minicraft.network</span>
                    </div>
                    <div class="col-5 col-sm-6">
                        <div class="float-end">
                            <span class="text fw-bold d-inline-block m-0">
                                <span class="d-sm-none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                </span>
                                <span class="d-none d-sm-block">
                                    Registrierte Benutzer
                                </span>
                            </span>
                            <span class="badge:green text:shadow-sm"><%= typeof userCount !== 'undefined' ? userCount : 0 %></span>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="display-4 text:shadow-lg fw-bold mb-0">Willkommen bei</h1>
                <h1 class="display-5 text:shadow-lg text:color-primary fw-bold lh-1 mb-0">MiniCraft</h1>
            </div>
        </div>
    </header>