<%- include('header'); %>

    <main>
        <div class="container my-3">
            <div class="shadow-sm p-3 bg-white rounded mb-3">
                <p class="mb-0">
                    Deine Fragen konnten auf dieser Seite nicht beantwortet werden oder du hast Probleme und benötigst Hilfe durch unseren Support?! dann kannst du dich gerne auf unserem <a href="https://discord.gg/jSvFS5Wbwz">Discord</a> unter "Support" melden oder uns eine E-Mail an <a href="mailto:support@minicarft.network">support@minicarft.network</a> senden und wir werden uns innerhalb der nächsten 24 Stunden mit dir in Verbindung setzen.
                </p>
            </div>

            <div class="accordion bg-white shadow-sm" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                        Wie kann ich einen Spieler melden?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            Solltest du eine Beschwerde gegen einen Spieler auf unserem Netzwerk einreichen wollen so kannst du dies gerne auf unserem Discord tun.
                        </p>
                        <div class="alert alert-warning mb-0">
                            <h4 class="alert-heading">Hinweis!</h4>
                            <p class="mb-0">
                                Eine Beschwerde gegen einen Spieler ist nur möglich mit einer Videoaufzeichnung oder Screenshot auf dem eindeutig zu sehen ist weshalb diese Beschwerde gerechtfertigt wird.
                            </p>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
                      Wann erhalte ich die Gruppe "Donator"?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p class="mb-0">
                            Nach einer Spende in Höhe von 5 Euro oder höher wird dir die Gruppe "Donator" innerhalb der nächsten 24 Stunden von unserem Team zugewiesen. Du kannst dich gerne an den Support auf unserem Discord wenden und uns über deine Spende informieren, sollte der Owner (EntenKoeniq) daraufhin über diese Spende informiert worden sein so erhälst du diese Spende innerhalb der nächsten Stunde.
                        </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                        Wie kann ich ein Teammitglied werden?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>
                            Als Teammitglied von MiniCraft ist je nach Position ein Alter von 16 oder höher notwendig! dazu benötigst du außerdem bereits Erfahrung in diesem Bereich und zusätzlich müssen noch einige Punkte eingehalten werden.
                        </p>
                        <p class="mb-0">
                            Du kannst dir gerne genaueres auf unserem Discord unter "Bewerbungen" anschauen und dir dort weitere Informationen über den Ablauf einer Bewerbung durchlesen.
                        </p>
                    </div>
                  </div>
                </div>
            </div>
            
        </div>
    </main>

<%- include('footer'); %>