<%- include('header'); %>

    <main>
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="display-4 text:shadow-lg">MiniCraft</h1>
                <p class="lead text:shadow-lg">Dein neuer Minigames Server mit einzigartigen Spielen!</p>
            </div>
        </div>

        <div class="container">
            <div class="alert alert-danger my-3" role="alert">
                <h4 class="alert-heading">Eilmeldung!</h4>
                <p>
                    MiniCraft steht noch in der Entwicklungsphase weshalb eine Verbindung auf unseren Server nur mit einem Eintrag in unserer Whitelist möglich ist.
                    Du kannst auf unserem Discord nach einem Eintrag in die Whitelist fragen und dir somit einen Einblick auf den aktuellen Stand von unserem Server verschaffen.
                </p>
                <hr>
                <p class="mb-0">
                    Geplante Eröffnung am: <span class="fw-bold">01.03.2021</span>
                </p>
            </div>
            <div class="row">
                <div class="col-lg-8 mb-3">
                    <div class="shadow-sm p-3 bg-white rounded">
                        <p>
                            Entdecke neue und einzigartige Minigames auf unserem Server und hab Spaß an den Minigames von der Community!
                        </p>
                        <p class="my-0">
                            Du hast die Möglichkeit deine eigene Idee für ein neues Minigame einzusenden und mit etwas Glück kannst Du dieses Spiel bald auf unserem Server spielen und erhälst dazu eine Gruppe an der man erkennt das Du bei diesem Server mit beigetragen hast!
                        </p>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-6">
                            <div class="shadow-sm p-3 bg-white rounded">
                                <p>
                                    Eigene Plugins
                                </p>
                                <p class="my-0">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%">100%</div>
                                    </div>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6 my-3 my-lg-0">
                            <div class="shadow-sm p-3 bg-white rounded">
                                <p>
                                    Eigene Welten
                                </p>
                                <p class="my-0">
                                    <div class="progress">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%">100%</div>
                                    </div>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-0 mt-lg-3 mb-3 mb-lg-0">
                            <div class="shadow-sm p-3 bg-white rounded">
                                <p>
                                    Server Entwicklungsstatus
                                </p>
                                <p class="my-0">
                                    <div class="progress">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%">25%</div>
                                    </div>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-6 mt-0 mt-lg-3">
                            <div class="shadow-sm p-3 bg-white rounded">
                                <p>
                                    Web Entwicklungsstatus
                                </p>
                                <p class="my-0">
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%">50%</div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="shadow-sm p-3 bg-white rounded mt-3">
                        <h3>Die besten Spieler!</h3>
                        <p>
                            Schau dir die besten Spieler aus unserem Netzwerk in den verschiedenen Minigames an!
                        </p>
                        <a href="/top" class="btn btn:green">GEHE ZU DEN TOP SPIELERN</a>
                    </div>
                </div>
                <div class="col-lg-4 mb-3">
                    <div class="shadow-sm p-3 bg-white rounded">
                        <iframe src="https://discord.com/widget?id=807391176834809946&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
                        <a href="https://discord.gg/jSvFS5Wbwz" class="w-100 btn btn:discord">DISCORD BEITRETEN</a>
                    </div>
                </div>
            </div>
        </div>
    </main>

<%- include('footer'); %>