<%- include('./header'); %>

    <main class="my-3">
        <div class="container">
            <div class="shadow-sm p-3 bg-white rounded mb-3">
                <p class="mb-0">
                    Hier hast du die Möglichkeit auf unserem Netzwerk der Gruppe "Premium" für eine bestimmte Zeit beizutreten, dazu musst du lediglich mit unserer eigenen Währung (Cookies) dir auf dieser Seite (unten) eine Mitgliedschaft kaufen.
                </p>
            </div>
            <div class="card">
                <div class="card-body">
                    <div id="message"></div>
                    <div class="alert alert-warning">
                        <h5 class="alert-heading">Hinweis!</h5>
                        <p>
                            Viele Fragen werden dir <a href="/help">HIER</a> beantwortet, andernfalls kannst du dich gerne auf unserem Discord Server unter "support" bei uns melden und deine Frage stellen.
                        </p>
                        <hr>
                        <p class="mb-0">
                            Solltest du deine UUID nicht kennen, so bieten wir dir die Möglichkeit an diese <a href="/uuid">HIER</a> herauszufinden.
                        </p>
                    </div>
                    <form id="buyPremium" action="" method="post">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect" name="endOfPremium" aria-label="Floating label select example">
                                <option value="1">1 Monat (950 Cookies)</option>
                                <option value="2">2 Monate (1750 Cookies)</option>
                                <option value="3">3 Monate (2500 Cookies)</option>
                            </select>
                            <label for="floatingSelect">Wähle die Dauer deiner Mitgliedschaft</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingUsername" name="uuid" placeholder="1234-1234-1234-1234" required minlength="36" maxlength="36">
                            <label for="floatingUsername">UUID</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="floatingSecuritycode" name="securitycode" placeholder="abc123" required minlength="3" maxlength="16">
                            <label for="floatingSecuritycode">Sicherheitscode</label>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="w-100 btn btn:green" form="buyPremium">Premium kaufen!</button>
                </div>
            </div>
        </div>
    </main>

<%- include('./footer'); %>