<%- include('header'); %>

    <main>
        <div class="container my-3">
            <div class="card text-center shadow-sm">
                <div class="card-header"><h1 class="display-6 my-0 badge:blue text:shadow-sm">Spenden</h1></div>
                <div class="card-body">
                    <p>
                        Hilf MiniCraft.Network dabei die Serverkosten zu decken indem Du eine freiwillige Spende mit PayPal, Sofortüberweisung, Paysafecard oder deiner Kreditkarte tätigst!
                        <br>
                        (Bitte tätige <span class="fw-bold">KEINE</span> Spende wenn Dein Budget knapp ist oder Du unsicher bist!)
                    </p>
                    <p>
                        Jede Spende wird zu 100% für die Kosten der Server verwendet!
                    </p>
                    <div class="alert alert-warning my-0">
                        <h4 class="alert-heading">Hinweis!</h4>
                        <p class="mb-0">
                            Bitte gib unbedingt bei Deiner Spende folgende Informationen an, um auf unserem Netzwerk sowie Discord Server die Gruppe "Donator" zu erhalten, falls Du dieser Gruppe beitreten möchtest:
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="mb-0">Dein Name</h5>
                                <small>
                                    Gib deinen Benutzernamen von Minecraft an.
                                </small>
                            </li>
                            <li class="list-group-item">
                                <h5 class="mb-0">Deine Nachricht (optional)</h5>
                                <small>
                                    Gib deinen Namen#Code von Discord an.
                                </small>
                            </li>
                          </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <a target="_blank" href="https://warenkorb.prepaid-hoster.de/donation/68454276-da3c-47c7-b95a-7fa443706a44" class="w-100 btn btn:blue">Jetzt Spenden!</a>
                </div>
            </div>
        </div>
    </main>

<%- include('footer'); %>