<%- include('header'); %>

    <main>
        <div class="container my-3">
            <div class="alert alert-danger mb-0">
                <h4 class="alert-heading">Hoppla!</h4>
                <p class="mb-0">
                    Eine Spende ist momentan leider nicht möglich! Bitte komme später wieder.
                </p>
            </div>
            <!--<div class="card text-center shadow-sm">
                <div class="card-header"><h1 class="display-6 my-0 badge:blue text:shadow-sm">Spenden</h1></div>
                <div class="card-body">
                    <p>
                        Jede Spende wird uns dabei helfen die Serverkosten zu decken! deine Spende kann mit PayPal, Sofortüberweisung, Paysafecard oder deiner Kreditkarte getätigt werden (Bitte Spende <span class="fw-bold">NICHT</span> wenn dein Guthaben knapp ist oder du dir unsicher bist!).
                    </p>
                    <p>
                        Jede Spende wird zu 100% in die Server von diesem Netzwerk gesteckt und sorgt dafür das dieses Netzwerk weiterhin bestehen bleibt und daran weiter entwickelt wird.
                    </p>
                    <div class="alert alert-warning my-0">
                        <h4 class="alert-heading">Hinweis!</h4>
                        <p class="mb-0">
                            Gib bei Deiner Spende unbedingt bei "Dein Name" Deinen Benutzernamen von Minecraft an falls Du auf unserem Netzwerk die Gruppe "Donator" erhalten möchtest!
                        </p>
                        <hr>
                        <p class="mb-0">
                            Die Gruppe "Donator" erhälst Du ebenfalls auf unserem Discord sofern Du deinen Namen#Code unter "Deine Nachricht (optional)" mit angibst und das für solang es dieses Netzwerk gibt!
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="..." class="w-100 btn btn:blue">Jetzt Spenden!</a>
                </div>
            </div>-->      
        </div>
    </main>

<%- include('footer'); %>