<%- include('header'); %>

    <main>
        <div class="container">
            <div class="text-center my-3">
                <h3>Teammitglieder</h3>
                <p>
                    Hier sind alle Teammitglieder von MiniCraft aufgelistet.
                </p>
            </div>

            <h3 class="label:darkred">Owner</h3>
            <div class="shadow-sm bg-white rounded list-row mb-3">
                <div class="list-item">
                    <div><span class="avatar"><img src="assets/img/user/EntenKoeniq.png" alt="."></span></div>
                    <div class="flex px-3">
                        <span class="badge bg-primary">EntenKoeniq</span>
                        <div><small>Hi :)</small></div>
                    </div>
                </div>
            </div>

            <h3 class="label:red">Admin</h3>
            <div class="shadow-sm bg-white rounded list-row mb-3">
            </div>

            <h3 class="label:green">Moderator</h3>
            <div class="shadow-sm bg-white rounded list-row mb-3">
            </div>

            <h3 class="label:blue">Supporter</h3>
            <div class="shadow-sm bg-white rounded list-row mb-3">
            </div>

            <h3 class="label:black">Builder</h3>
            <div class="shadow-sm bg-white rounded list-row mb-3">
            </div>
        </div>
    </main>

<%- include('footer'); %>