<%- include('header'); %>

    <main>
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="display-4 text:shadow-lg">MiniCraft</h1>
                <p class="lead text:shadow-lg">Dein neuer Minigames Server mit einzigartigen Spielen!</p>
            </div>
        </div>

        <div class="container my-3">
            <div class="alert alert-secondary" role="alert">
                Aktuell sind noch keine Einträge auf dieser Seite vorhanden.
            </div>
        </div>
    </main>

<%- include('footer'); %>